[{rabbit,[{log,[{file,[{level,debug}]},
                {console,[{level,debug},{enabled,true}]}]},
          {ssl_options,[{keyfile,"C:/Users/warke/AppData/Roaming/RabbitMQ/server_DESKTOP-S08PNK3_key.pem"},
                        {certfile,"C:/Users/warke/AppData/Roaming/RabbitMQ/server_DESKTOP-S08PNK3_certificate.pem"},
                        {cacertfile,"C:/Users/warke/AppData/Roaming/RabbitMQ/ca_certificate.pem"},
                        {fail_if_no_peer_cert,false},
                        {verify,verify_none}]},
          {tcp_listeners,[]},
          {ssl_listeners,[5671]}]}].